/*************************About section start here ************************************/

.aboutArea {
  color:#252525;
  width:100%;
  display:block;
  margin:20px 0px 20px 0px;
  min-height:450px;
}

/* Clear floats after the columns */
.aboutArea:after {
  content: "";
  display: table;
  clear: both;
}
.abtColL{
  width:62%;
  float:left;
}

.abtColR{
  width:38%;
  float:right;
}

.abtHeaderBg{
  background:#6fc202;
  height:42px;
  color:#ffffff;
  width:98%;
}

.abtTitle{
  padding:5px 20px;  
  font-size:20px;
}

.abtText{
  padding:10px 20px;
}

.abtText h3{
  font-size:18px;
  color:#6fc202;
  text-decoration:underline;
  line-height:40px;
}

.abtMapBg{
  background:#eeeded;
  min-height:390px;
  width:85%;
  margin:20px 30px;
}

.abtMap{
  background:#eeeded url("../images/map.jpg") center no-repeat	;
  min-height:390px;
  width:100%;
}

/******************** about Section end here ***********************/

/******************** Core Team Section start here ***********************/

.coreTeamArea{
  clear:both;
  background:#ececec url("../images/teamBg.jpg") center repeat;
  min-height:450px;
  width:100%;  
  margin:10px 0px 10px 0px;
  clear:both;
}

.coreImgArea{
  float:left;
  width:21%;
  padding:10px 10px;
  margin:10px 2% 50px 2%;
}
.coreImg{
  background: #ffffff;
  width: 210px;
  height: 250px;
  border: 5px solid #dddcdc;
  //box-shadow:5px 5px 15px rgba(5, 5, 5, 0.24);
}
.coreTitle{
  margin-top:20px;
  //padding:5px 0px 5px 0px;
  font-size:14px;
  text-align:center;
  line-height:10px;
}
.coreTitle p{
  font-weight:bold;
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
	.coreImgArea{
	  float:left;
	  width:21%;
	  padding:10px 10px;
	  margin:10px 1% 50px 1%;
	}
	.coreImg{
	  background: #ffffff;
	  width: 110px;
	  height: 250px;
	  border: 5px solid #dddcdc;
	  //box-shadow:5px 5px 15px rgba(5, 5, 5, 0.24);
	}
}


/* FontAwesome for working BootSnippet :> */

#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 20px 0;
}

section .section-title {
    text-align: center;
    color: #0875B6;
    //margin-bottom: 50px;
    //text-transform: uppercase;
}
 h2.section-title {
  color: #0875B6;
  text-align: center;
  font-weight: bold;
  position: relative;
  padding: 20px 0px 40px 0px;
  font-style:italic;
}
h2.section-title::after {
  content: "";
  width: 150px;
  position: absolute;
  margin: 0 auto;
  height: 3px;
  background:#0875B6;
  left: 0;
  right: 0;
  bottom: 30px;
}
#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 250px;
}

.backside .card a {
    font-size: 18px;
    color: #0875B6 !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #0875B6 !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
/*************************Core team section end here ************************************/

/*************************Contact section start here ************************************/

.contactArea {
  background:#f9fafb;
  color:#252525;
  width:100%;
  display:block;
  margin:0px 0px 0px 0px;
}
.contactFormArea {
  background:#f9fafb url("../images/contactBg.jpg") top repeat-x;
  color:#252525;
  width:100%;
  display:block;
  margin:0px 0px 20px 0px;
  min-height:330px;
}
/* Clear floats after the columns */
.contactArea:after {
  content: "";
  display: table;
  clear: both;
}
.contactFormArea:after {
  content: "";
  display: table;
  clear: both;
}
.contCol{
  width:48%;
  float:left;
  padding:10px 10px;
  margin:0px 0px 0px 0px;
}

.bdrR{
  float:left;
  border-right:1px solid #d4d4d4;
}

.contColL{
  width:50%;
  float:left;
}

.contColR{
  width:50%;
  float:right;
}

.contTitle h2{
  padding:0px 20px 0px 20px;  
  font-size:24px;
  color:#88bf40;
  text-decoration:underline;
}
.contText{
  padding:5px 20px;
}

.contText p{
  margin:0px 0px;
}
.txtW{
  margin:10px 0px;
  width:80px;
  float:left;
}

.contText h3{
  font-size:18px;
  color:#6fc202;
  text-decoration:underline;
  line-height:40px;
}
.txtG{
  color:#88bf40;
}

.contForm{
  width:100%;
  float:left;
  padding:20px 0px;
}
.contFormDiv{
  width:100%;
  float:left;
  text-align:center;
}
.contForm input, .contForm textarea{
  background:#f8f8f8;
  border:1px solid #dddddd;
  color:#252525;
  padding:5px 5px;
  width:60%;
  margin:5px 0px;
}

.contFormBtn{
  background:linear-gradient(#65ddff, transparent), linear-gradient(200deg, #65ddff, #ceeff8, #ceeff8);
  border:none;
  color:#252525;
  padding:15px 10px;
  width:30%;
  font-weight:bold;
  margin:10px 30%;
  font-size:16px;
}