.header-right ul{
position: relative;
    float: right;
    transform: translate(-50%, -50%);
    margin-top: 2rem;
    display: flex;

}

@media screen and (max-width: 500px) {
	.header-right{
		float: right;
	}
  
  .header-right ul{
	
		position: relative;
		top: 8%;
		right: 0%;
		padding: 0;
		display: flex;
		transform: none;
		margin-bottom: 1rem;
		padding-bottom:.5rem;
		margin-top:0;
  
	}
}
.header-right ul li{
list-style: none;
margin: 0 20px;

}
.header-right ul li .fa{
font-size: 30px;
color: #252525;
line-height: 30px;
transition: .5s;

}
.header-right ul li a{
position: relative;
display: block;
width: 40px;
height: 40px;
background-color: #fff;
text-align: center;
transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0);
transition: .5s;
box-shadow: -20px 20px 10px rgb(0, 0, 0, 0.5);
}
.header-right ul li a::before{
content: "";
position: absolute;
top: 10px;
left: -20px;
height: 100%;
width: 20px;
background: #b1b1b1;
transition: .5s;
transform: rotate(0deg) skewY(-45deg);
}
.header-right ul li a::after{
content: "";
position: absolute;
top: 40px;
left: -11px;
height: 20px;
width: 100%;
background: #b1b1b1;
transition: .5s;
transform: rotate(0deg) skewX(-45deg);
}
.header-right ul li a:hover{
transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
box-shadow: -30px 30px 30px rgb(0, 0, 0, 0.5);
}
.header-right ul li:hover .fa{
color: #fff;
}
.header-right ul li a:hover{
transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}
.header-right ul li:hover:nth-child(1) a{
background: #3b5999;
}
.header-right ul li:hover:nth-child(1) a:before{
background: #2e4a86;
}
.header-right ul li:hover:nth-child(1) a:after{
background: #4a69ad;
}
.header-right ul li:hover:nth-child(2) a{
background: #55acee;
}
.header-right ul li:hover:nth-child(2) a:before{
background: #4184b7;
}
.header-right ul li:hover:nth-child(2) a:after{
background: #4d9fde;
}
.header-right ul li:hover:nth-child(3) a{
background: #dd4b39;
}

.header-right ul li:hover:nth-child(3) a:before{
background: #c13929;
}
.header-right ul li:hover:nth-child(3) a:after{
background: #e83322;
}
/*
.header-right ul li:hover:nth-child(4) a{
background: #0077B5;
}

.header-right ul li:hover:nth-child(4) a:before{
background: #036aa0;
}
.header-right ul li:hover:nth-child(4) a:after{
background: #0d82bf;
}

.header-right ul li:hover:nth-child(5) a{
background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}

.header-right ul li:hover:nth-child(5) a:before{
background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}
.header-right ul li:hover:nth-child(5) a:after{
background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}*/