//@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.header-right ul {
    position: absolute;
    top: 2%;
    right: 2%;
    //transform: translate(-50%, -50%);
    margin: 0px 0px 0px 2px;
    padding: 0;
    display: flex;
}
.header-right ul li {
    position: relative;
    list-style: none;
    margin: 0 2px;
}
.header-right ul li::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 40px;
    height: 8px;
    background: #000;
    border-radius: 50%;
    transition: 0.5s;
    opacity: 0;
    filter: blur(2px);
    transform: scale(0.8);
}
.header-right ul li:hover::before {
    transition-delay: 0.2s;
    opacity: 0.2;
    transform: scale(1);
}
.header-right ul li a {
    width: 40px;
    height: 40px;
    display: block;
    transition: 0.5s;
}
.header-right ul li:hover a {
    transform: translateY(-10px);
}
.header-right ul li a span  {
    width: 100%;
    height: 100%;
}
.header-right ul li a span::before {
    font-family: fontAwesome;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //background: #fff;
    color: #222525;
    transform-origin: top;
    transition: transform 0.5s;
}
.header-right ul li:hover a span::before {
    transform: rotateX(90deg) translateY(-50%);
}
.header-right ul li a span::after {
    font-family: fontAwesome;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #fff;
    color: #262626; */
    transform-origin: bottom;
    transition: transform 0.5s;
    transform: rotateX(90deg) translateY(50%);
}
.header-right ul li:hover a span::after {
    transform: rotateX(0deg) translateY(0);
}
.header-right ul li:nth-child(1) a span::before,
.header-right ul li:nth-child(1) a span::after {
    content: '\f09a';
}
.header-right ul li:nth-child(2) a span::before,
.header-right ul li:nth-child(2) a span::after {
    content: '\f0e1';
}
.header-right ul li:nth-child(3) a span::before,
.header-right ul li:nth-child(3) a span::after {
    content: '\f167';
}
/*.header-right ul li:nth-child(4) a span::before,
ul li:nth-child(4) a span::after {
    content: '\f0d5';
}
.header-right ul li:nth-child(5) a span::before,
.header-right ul li:nth-child(5) a span::after {
    content: '\f099';
}*/
.header-right ul li:nth-child(1) a span::after {
    background: #3b5999;
    color: #fff;
}
.header-right ul li:nth-child(2) a span::after {
    background: #55acce;
    color: #fff;
}
.header-right ul li:nth-child(3) a span::after {
    background: #ee0000;
    color: #fff;
}
/*.header-right ul li:nth-child(4) a span::after {
    background: #dd4b39;
    color: #fff;
}
.header-right ul li:nth-child(5) a span::after {
    background: #0077b5;
    color: #fff;
}*/




